## KKChurn model 
### Team members: Lorena Mejía, Alfredo Carrillo and Ricardo Figueroa

In [4]:
import numpy as np
import csv
import sys
import pandas as pd
from pyspark import SparkContext, SparkConf
import os
import re
from pyspark.sql import SparkSession

In [5]:
# We create the spark application called 'KKchurn' to use all the available cores
conf = SparkConf().setAppName('KKChurn').setMaster("local[*]").set("spark.driver.maxResultSize", "6g")
sc=SparkContext(conf=conf)
spark = SparkSession(sc)

In [6]:
# Import transactions file using Pyspark
transactions=sc.textFile('./data/transactions.csv') \
    .map(lambda line: line.split(","))
transactions=transactions.toDF(transactions.first())

In [7]:
# Import transactions_v2 file using Pyspark
transactions_2=sc.textFile('./data/churn_comp_refresh/train_v2.csv') \
    .map(lambda line: line.split(","))
transactions_2=transactions_2.toDF(transactions_2.first())

In [8]:
# Import train data (before updates)
train_data=sc.textFile('./data/train.csv') \
    .map(lambda line: line.split(","))
train_data=train_data.toDF(train_data.first())

In [9]:
# Import train data v2 
train_data_2=sc.textFile('./data/churn_comp_refresh/train_v2.csv') \
    .map(lambda line: line.split(","))
train_data_2=train_data_2.toDF(train_data_2.first())

In [10]:
sample_submission_zero = sc.textFile('./data/sample_submission_zero.csv') \
    .map(lambda line: line.split(","))
sample_submission_zero=sample_submission_zero.toDF(sample_submission_zero.first())

In [11]:
sample_submission_2 = sc.textFile('./data/churn_comp_refresh/sample_submission_v2.csv') \
    .map(lambda line: line.split(","))
sample_submission_2=sample_submission_2.toDF(sample_submission_2.first())

In [12]:
user_logs = sc.textFile('./data/user_logs.csv') \
    .map(lambda line: line.split(","))
user_logs = user_logs.toDF(user_logs.first())

In [13]:
user_logs = sc.textFile('./data/user_logs.csv') \
    .map(lambda line: line.split(","))
user_logs = user_logs.toDF(user_logs.first())

In [14]:
# Example to show a dataframe from Spark
user_logs.show()

+--------------------+--------+------+------+------+-------+-------+-------+----------+
|                msno|    date|num_25|num_50|num_75|num_985|num_100|num_unq|total_secs|
+--------------------+--------+------+------+------+-------+-------+-------+----------+
|                msno|    date|num_25|num_50|num_75|num_985|num_100|num_unq|total_secs|
|rxIP2f2aN0rYNp+to...|20150513|     0|     0|     0|      0|      1|      1|  280.3350|
|rxIP2f2aN0rYNp+to...|20150709|     9|     1|     0|      0|      7|     11| 1658.9480|
|yxiEWwE9VR5utpUec...|20150105|     3|     3|     0|      0|     68|     36|17364.9560|
|yxiEWwE9VR5utpUec...|20150306|     1|     0|     1|      1|     97|     27|24667.3170|
|yxiEWwE9VR5utpUec...|20150501|     3|     0|     0|      0|     38|     38| 9649.0290|
|yxiEWwE9VR5utpUec...|20150702|     4|     0|     1|      1|     33|     10|10021.5200|
|yxiEWwE9VR5utpUec...|20150830|     3|     1|     0|      0|      4|      7| 1119.5550|
|yxiEWwE9VR5utpUec...|20151107|     1|     0|     0|      0|      4|      5|  938.0220|
|yxiEWwE9VR5utpUec...|20160110|     2|     0|     1|      0|     11|      6| 3004.0680|
|yxiEWwE9VR5utpUec...|20160316|     9|     3|     4|      1|     67|     50|18257.6610|
|yxiEWwE9VR5utpUec...|20160510|     5|     3|     2|      1|     67|     66|16764.2060|
|yxiEWwE9VR5utpUec...|20160804|     1|     4|     5|      0|     36|     43|11359.5650|
|yxiEWwE9VR5utpUec...|20160926|     7|     1|     0|      1|     38|     20|10201.9790|
|yxiEWwE9VR5utpUec...|20161115|     0|     1|     4|      1|     38|     40| 9288.9480|
|yxiEWwE9VR5utpUec...|20170106|     0|     0|     0|      1|     39|     38|10123.2280|
|PNxIsSLWOJDCm7pNP...|20151201|     3|     3|     2|      0|      8|     11| 2293.2500|
|PNxIsSLWOJDCm7pNP...|20160628|     0|     0|     1|      1|      1|      3|  639.0300|
|PNxIsSLWOJDCm7pNP...|20170106|     2|     1|     0|      0|     35|     34| 7563.9360|
|KXF9c/T66LZIzFq+x...|20150803|     0|     0|     0|      0|     16|     11| 3585.9400|
+--------------------+--------+------+------+------+-------+-------+-------+----------+
only showing top 20 rows

In [15]:
user_logs_2 = sc.textFile('./data/churn_comp_refresh/sample_submission_v2.csv') \
    .map(lambda line: line.split(","))
user_logs_2 = user_logs_2.toDF(user_logs_2.first())

In [16]:
members = sc.textFile('./data/members_v3.csv') \
    .map(lambda line: line.split(","))
members = members.toDF(members.first())

In [48]:
# Example of a query using pyspark
aggr_value = transactions.select("msno").show()

+--------------------+
|                msno|
+--------------------+
|                msno|
|YyO+tlZtAXYXoZhNr...|
|AZtu6Wl0gPojrEQYB...|
|UkDFI97Qb6+s2LWci...|
|M1C56ijxozNaGD0t2...|
|yvj6zyBUaqdbUQSrK...|
|KN7I82kjY0Tn76Ny9...|
|m5ptKif9BjdUghHXX...|
|uQxbyACsPOEkTIrv9...|
|LUPRfoE2r3WwVWhYO...|
|pMVjPLgVknaJYm9L0...|
|bQkbrEPdMfVfdsoz0...|
|TZVCT9pCufI/AWjrG...|
|b2AiGMFhT6fbDyN12...|
|ksInNb4D5jdSSIYUr...|
|aQKXNflQtXF92cpv4...|
|iFxPpElVK6kXnZbuh...|
|8qrtRZQTuCih4YJhj...|
|pE2FeJOBZv5snDGdF...|
|vma4rQzDa/l4Wb/My...|
+--------------------+
only showing top 20 rows

In [49]:
transactions.show()

+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
|                msno|payment_method_id|payment_plan_days|plan_list_price|actual_amount_paid|is_auto_renew|transaction_date|membership_expire_date|is_cancel|
+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
|                msno|payment_method_id|payment_plan_days|plan_list_price|actual_amount_paid|is_auto_renew|transaction_date|  membership_expire...|is_cancel|
|YyO+tlZtAXYXoZhNr...|               41|               30|            129|               129|            1|        20150930|              20151101|        0|
|AZtu6Wl0gPojrEQYB...|               41|               30|            149|               149|            1|        20150930|              20151031|        0|
|UkDFI97Qb6+s2LWci...|               41|               30|            129|               129|            1|        20150930|              20160427|        0|
|M1C56ijxozNaGD0t2...|               39|               30|            149|               149|            1|        20150930|              20151128|        0|
|yvj6zyBUaqdbUQSrK...|               39|               30|            149|               149|            1|        20150930|              20151121|        0|
|KN7I82kjY0Tn76Ny9...|               21|               30|            149|               149|            1|        20150930|              20151107|        0|
|m5ptKif9BjdUghHXX...|               39|               30|            149|               149|            1|        20150930|              20151128|        0|
|uQxbyACsPOEkTIrv9...|               39|               30|            149|               149|            1|        20150930|              20151125|        0|
|LUPRfoE2r3WwVWhYO...|               39|               30|            149|               149|            1|        20150930|              20151222|        0|
|pMVjPLgVknaJYm9L0...|               39|               30|            149|               149|            1|        20150930|              20151118|        0|
|bQkbrEPdMfVfdsoz0...|               39|               30|            149|               149|            1|        20150930|              20151121|        0|
|TZVCT9pCufI/AWjrG...|               39|               30|            149|               149|            1|        20150930|              20151124|        0|
|b2AiGMFhT6fbDyN12...|               39|               30|            149|               149|            1|        20150930|              20151117|        0|
|ksInNb4D5jdSSIYUr...|               39|               30|            149|               149|            1|        20150930|              20151129|        0|
|aQKXNflQtXF92cpv4...|               39|               30|            149|               149|            1|        20150930|              20151111|        0|
|iFxPpElVK6kXnZbuh...|               39|               30|            149|               149|            1|        20150930|              20151122|        0|
|8qrtRZQTuCih4YJhj...|               39|               30|            149|               149|            1|        20150930|              20151106|        0|
|pE2FeJOBZv5snDGdF...|               39|               30|            149|               149|            1|        20150930|              20151114|        0|
|vma4rQzDa/l4Wb/My...|               39|               30|            149|               149|            1|        20150930|              20151123|        0|
+--------------------+-----------------+-----------------+---------------+------------------+-------------+----------------+----------------------+---------+
only showing top 20 rows

### Utils functions

In [18]:
# Util functions 
def splitComma(line:str):
    splits = COMMA_DELIMITER.split(line)
    return "{}, {}".format(splits[1], splits[6])
def comma_delimiter(line):
    return(line.split(','))
COMMA_DELIMITER = re.compile(''', (?=(?:[^"]*"[^"]*")*[^"]*$)''')
COMMA_DELIMITER.split("hisds, sdfs")

['hisds', 'sdfs']

In [19]:
# How to save to a text file 
# transactions.map(lambda row: str(row[0]) + "\t" + str(row[1])) \
#    .saveAsTextFile("out/try2.text")

In [20]:
# Definimos función para importar datos
def import_csv(file):
    temp_data = []
    with open(file,'rt', encoding='ASCII') as csvfile: 
        reader = csv.reader(csvfile, delimiter=',', quotechar='|') 
        for row in reader:
            temp_data.append(row)
    temp_data = np.array(temp_data)
    return(temp_data)

In [21]:
# Definimos una función para limpiar los datos del train y test data
def limpiar_train_test(np_array):
    np_array = np.array([[np_array[i][0].replace("=", ""), np_array[i][1]] for i in range(len(np_array))])
    return(np_array)

### Train y Test Data
The train and test set, containing the user ids and whether they have churned. 
- msno: user id
- is_churn: This is the target variable. Churn is defined as whether the user did not continue the subscription within 30 days of expiration. is_churn = 1 means churn,is_churn = 0 means renewal.

### Transactions Data
The information and variables included in this file are the following:
- MSNO: id of the user
- payment_method_id: payment method
- payment_plan_days: length of membership plan in days
- plan_list_price: in New Taiwan Dollar (NTD)
- actual_amount_paid: in New Taiwan Dollar (NTD)
- is_auto_renew
- transaction_date: format %Y%m%d
- membership_expire_date: format %Y%m%d
- is_cancel: whether or not the user canceled the membership in this transaction.

### User logs
Daily user logs describing listening behaviors of a user. Data collected until 2/28/2017. 
The information and variables included in this file are the following:
- msno: user id
- date: format %Y%m%d
- num_25: # of songs played less than 25% of the song length
- num_50: # of songs played between 25% to 50% of the song length
- num_75: # of songs played between 50% to 75% of of the song length
- num_985: # of songs played between 75% to 98.5% of the song length
- num_100: # of songs played over 98.5% of the song length
- num_unq: # of unique songs played

### Members
User information
The information and variables included in this file are the following:
- msno: user id
- date: format %Y%m%d
- num_25: # of songs played less than 25% of the song length
- num_50: # of songs played between 25% to 50% of the song length
- num_75: # of songs played between 50% to 75% of of the song length
- num_985: # of songs played between 75% to 98.5% of the song length
- num_100: # of songs played over 98.5% of the song length
- num_unq: # of unique songs played

### Descripción de las variables de cada una de las tablas y de los tipos de variables

In [31]:
train_data.printSchema()

root
 |-- msno: string (nullable = true)
 |-- is_churn: string (nullable = true)

In [32]:
transactions.printSchema()

root
 |-- msno: string (nullable = true)
 |-- payment_method_id: string (nullable = true)
 |-- payment_plan_days: string (nullable = true)
 |-- plan_list_price: string (nullable = true)
 |-- actual_amount_paid: string (nullable = true)
 |-- is_auto_renew: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- membership_expire_date: string (nullable = true)
 |-- is_cancel: string (nullable = true)

In [33]:
sample_submission_zero.printSchema()

root
 |-- msno: string (nullable = true)
 |-- is_churn: string (nullable = true)

In [34]:
user_logs.printSchema()

root
 |-- msno: string (nullable = true)
 |-- date: string (nullable = true)
 |-- num_25: string (nullable = true)
 |-- num_50: string (nullable = true)
 |-- num_75: string (nullable = true)
 |-- num_985: string (nullable = true)
 |-- num_100: string (nullable = true)
 |-- num_unq: string (nullable = true)
 |-- total_secs: string (nullable = true)

In [35]:
# Guardar ciertos datos en una data frame
pd.DataFrame(train_data.take(5), columns=train_data.columns)

                                           msno  is_churn
0                                          msno  is_churn
1  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
2  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1
3  fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=         1
4  mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=         1

In [39]:
df = user_logs.select('msno', user_logs.num_25.cast('float').alias('num_25'))

In [40]:
pd.DataFrame(df.take(5), columns=df.columns)

                                           msno  num_25
0                                          msno     NaN
1  rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=     0.0
2  rxIP2f2aN0rYNp+toI0Obt/N/FYQX8hcO1fTmmy2h34=     9.0
3  yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=     3.0
4  yxiEWwE9VR5utpUecLxVdQ5B7NysUPfrNtGINaM2zA8=     1.0

In [44]:
df.take(5)[2][1]

9.0

### Transformación de las columnas de string al tipo de datos que requerimos

In [46]:
# Train data
train_data = train_data.select('msno', train_data.is_churn.cast('integer').alias('is_churn'))

In [47]:
train_data.printSchema()

root
 |-- msno: string (nullable = true)
 |-- is_churn: integer (nullable = true)

In [50]:
# Transactions
transactions = transactions.select(
    'msno', 
    transactions.payment_method_id.cast('integer').alias('payment_method_id'),
    transactions.payment_plan_days.cast('integer').alias('payment_plan_days'),
    transactions.plan_list_price.cast('integer').alias('plan_list_price'),
    transactions.actual_amount_paid.cast('integer').alias('actual_amount_paid'),
    transactions.is_auto_renew.cast('integer').alias('is_auto_renew'),
    transactions.transaction_date.cast('date').alias('transaction_date'),
    transactions.membership_expire_date.cast('date').alias('membership_expire_date'),
    transactions.is_cancel.cast('integer').alias('is_cancel'),
)

In [52]:
transactions.printSchema()

root
 |-- msno: string (nullable = true)
 |-- payment_method_id: integer (nullable = true)
 |-- payment_plan_days: integer (nullable = true)
 |-- plan_list_price: integer (nullable = true)
 |-- actual_amount_paid: integer (nullable = true)
 |-- is_auto_renew: integer (nullable = true)
 |-- transaction_date: date (nullable = true)
 |-- membership_expire_date: date (nullable = true)
 |-- is_cancel: integer (nullable = true)

In [53]:
pd.DataFrame(transactions.take(5), columns=transactions.columns)

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,msno,NaN,NaN,NaN,NaN,NaN,None,None,NaN
1,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41.0,30.0,129.0,129.0,1.0,None,None,0.0
2,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41.0,30.0,149.0,149.0,1.0,None,None,0.0
3,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41.0,30.0,129.0,129.0,1.0,None,None,0.0
4,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39.0,30.0,149.0,149.0,1.0,None,None,0.0

#